<div class="divTable">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Função</th>
          <th>Salário</th>
        </tr>

        <% if (lista_funcionarios) { %>
            <% for (let funcionario of lista_funcionarios) { %>
            <tr>
              <td>
                <%= funcionario.nome_funcionario %>
              </td>

              <td>
                <%= funcionario.funcao_funcionario %>
              </td>

              <td>
                R$ <%= String(funcionario.salario_funcionario).replace('.', ',') %>
              </td>

              <td class="acao" onclick=<%="window.location='/editar?id="+ funcionario.id_funcionario+"'" %>>
                <button class="btn-table edit">
                  <span>Editar</span>
                  <i class='bx bxs-edit-alt'></i>
                </button>
              </td>
              <td class="acao" onclick=<%="window.location='/delete?id="+ funcionario.id_funcionario+"'" %>>
                <button class="btn-table delete">
                  <span>Remover</span>
                  <i class='bx bxs-trash'></i>
                </button>
              </td>
            </tr> 
          <% }; %>
        <% } %>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>