<div class="divTable">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Função</th>
          <th>Salário</th>
        </tr>

        <% console.log(lista_funcionarios); for (let funcionario of lista_funcionarios) { %>
          <tr>
            <th>
              <%= funcionario.nome_funcionario %>
            </th>

            <th>
              <%= funcionario.funcao_funcionario %>
            </th>

            <th>
              R$ <%= String(funcionario.salario_funcionario).replace('.', ',') %>
            </th>

            <th class="acao" onclick=<%="window.location='/editar?id="+ funcionario.id_funcionario+"'" %>>
              <button class="btn-table edit">Editar</button>
            </th>
            <th class="acao" nclick=<%="window.location='/delete?id="+ funcionario.id_funcionario+"'" %>>
              <button class="btn-table delete">Remover</button>
            </th>
          </tr> 
        <% }; %>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>